<h2>Hi!</h2>

<h3>Enter an address to search for</h3>

<%= if @trip != :error do %>
  Duration <%= @trip.duration %>
<% end %>

<form action="/">
  <input name="origin" />
  <input type="submit" value="Lookup">
</form>
